:root {
	--border-radius: 8px;

	/* Colors */
	--color-white: #fff;
	--color-gray-1: #102a43;
	--color-gray-2: #243b53;
	--color-gray-3: #334e68;
	--color-gray-4: #486581;
	--color-gray-5: #627d98;
	--color-gray-6: #829ab1;
	--color-gray-7: #9fb3c8;
	--color-gray-8: #bcccdc;
	--color-gray-9: #d9e2ec;
	--color-gray-10: #f0f4f8;
	--color-yellow-1: #8d2b0b;
	--color-yellow-2: #b44d12;
	--color-yellow-3: #cb6e17;
	--color-yellow-4: #de911d;
	--color-yellow-5: #f0b429;
	--color-yellow-6: #f7c948;
	--color-yellow-7: #fadb5f;
	--color-yellow-8: #fce588;
	--color-yellow-9: #fff3c4;
	--color-yellow-10: #fffbea;

	/* Box Shadows */
	--box-shadow-1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
	--box-shadow-2: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
	--box-shadow-3: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
	--box-shadow-4: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
	--box-shadow-5: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 5px 8px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 14px 0px;
	--box-shadow-6: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
	--box-shadow-7: rgba(0, 0, 0, 0.2) 0px 4px 5px -2px, rgba(0, 0, 0, 0.14) 0px 7px 10px 1px,
		rgba(0, 0, 0, 0.12) 0px 2px 16px 1px;
	--box-shadow-8: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
		rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
	--box-shadow-9: rgba(0, 0, 0, 0.2) 0px 5px 6px -3px, rgba(0, 0, 0, 0.14) 0px 9px 12px 1px,
		rgba(0, 0, 0, 0.12) 0px 3px 16px 2px;
	--box-shadow-10: rgba(0, 0, 0, 0.2) 0px 6px 6px -3px, rgba(0, 0, 0, 0.14) 0px 10px 14px 1px,
		rgba(0, 0, 0, 0.12) 0px 4px 18px 3px;
	--box-shadow-11: rgba(0, 0, 0, 0.2) 0px 6px 7px -4px, rgba(0, 0, 0, 0.14) 0px 11px 15px 1px,
		rgba(0, 0, 0, 0.12) 0px 4px 20px 3px;
	--box-shadow-12: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 12px 17px 2px,
		rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
	--box-shadow-13: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 13px 19px 2px,
		rgba(0, 0, 0, 0.12) 0px 5px 24px 4px;
	--box-shadow-14: rgba(0, 0, 0, 0.2) 0px 7px 9px -4px, rgba(0, 0, 0, 0.14) 0px 14px 21px 2px,
		rgba(0, 0, 0, 0.12) 0px 5px 26px 4px;
	--box-shadow-15: rgba(0, 0, 0, 0.2) 0px 8px 9px -5px, rgba(0, 0, 0, 0.14) 0px 15px 22px 2px,
		rgba(0, 0, 0, 0.12) 0px 6px 28px 5px;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #f0f4f8;
	color: var(--color-gray-2);
}

a {
	color: inherit;
}
